numpy>=1.20
scipy>=1.7
matplotlib>=3.5
mpmath>=1.3

qiskit>=1.1,<2  # qiskit-nature 0.7 (ExcitedStatesEigensolver) does not work with qiskit 2.x
qiskit-aer>=0.12
qiskit-nature>=0.7
qiskit-algorithms>=0.2
pyscf>=2.0

pygridsynth>=1.0
